<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- pending has refresh line here -->
		<!-- pending has refresh line here -->
		<!-- first java script! -->
		<script>
			window.onload = function() {
				spot.scrollIntoView();  // Scroll to the element
			};
		</script>
	</head>
	<body>
	<h1>
		<!-- page will wait for query -->
		{% for message in fullragchat_history %} 
			<font color="purple">{{message.user }}:</font> {{ message.message }}<br>
		{% endfor %}
	</h1>
	<a id="spot"></a>
	<form action="/fullragchat_pending" method="post">

		<lable for="query"></lable>
		<textarea rows="8" cols="120" name="query"></textarea>
		<input value="query" type="submit"><br>

		<input type="text" name="model" value="{{fullragchat_model}}">
		<lable for="model"><strong>LLM model</strong></lable> - 
		<font color="purple">fake_llm; <i>local on ollama:</i> orca-mini, phi, tinyllama, llama2, llama2-uncensored, mistral, mixtral, command-r; <i>api call:</i> open-mixtral-8x7b, mistral-large-latest</font>
		<br>

		<input type="text" name="temp" value="{{fullragchat_temp}}">
		<lable for="temp"><strong>LLM temperature</strong></lable> - 
		<font color="purple">0.00, more deterministic, to 1.00, more creative</font>
		<br>

		<input type="text" name="rag_source" value="{{fullragchat_rag_source}}">
		<lable for="rag_source"><strong>rag_source</strong></lable> - 
		<font color="purple">Set to Auto to do double LLM passes, first for RAG, then for query; path filename for single faiss, website, pdf, or text file</font>
		<br>

		<input type="text" name="embed_model" value="{{fullragchat_embed_model}}">
		<lable for="model"><strong>embeding model</strong></lable> - <font color="purple"><i>local on ollama:</i> nomic-embed-text; <i>api call:</i> mistral-embed; embeder needs to match LLM</font>
		<br>

		<input type="text" name="stop_words" value="{{fullragchat_stop_words}}">
		<lable for="stop_words"><strong>stop_words</strong></lable> - <font color="purple">words, to stop, processing</font>
		<br>

		<input type="text" name="skin" value="{{fullragchat_skin}}">
		<lable for="skin"><strong>skin</strong></lable>
		<br>

		<input type="text" name="music" value="{{fullragchat_music}}">
		<lable for="music"><strong>music</strong></lable>
		<br>

	</form>
	<a href="/reset_history">reset</a><br>
	('command: summarize' to simply return summary of rag_source)<br>
	(docs/rag_summary_link_to_rags.txt controls rag selection)<br>
	</body>
</html>
