<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- pending has refresh line here -->
		<!-- first java script! -->
		<script>
			window.onload = function() {
				spot.scrollIntoView();  // Scroll to the element
			};
		</script>
	</head>
	<body>
	<h1>
		<!-- page will wait for query -->
		{% for message in fullragchat_history %} <font color="purple">{{
			message.user }}:</font> {{ message.message }}<br>
		{% endfor %}
		<br>
		<a id="spot"></a>
		<form action="/fullragchat_pending" method="post">
			<lable for="query"></lable>
			<textarea rows="8" cols="120" name="query"></textarea>
			<input value="query" type="submit"><br>
		</form>
	</h1>

	<input name="model" value="{{fullragchat_model}}" type="text">
	<lable for="model"><strong>LLM model</strong></lable> - 
	<font color="purple">fake_llm; local on ollama: orca-mini, phi, tinyllama; api call: open-mixtral-8x7b, mistral-large-latest</font>
	<br>

	<input name="temp" value="{{fullragchat_temp}}" type="text">
	<lable for="temp"><strong>LLM temperature</strong></lable> - 
	<font color="purple">0.00, more deterministic, to 1.00, less deterministic</font>
	<br>

	<input name="rag_source" value="{{fullragchat_rag_source}}" type="text">
	<lable for="rag_source"><strong>rag_source</strong></lable> - 
	<font color="purple">path filename for websites, pdfs, or text files (only supporting single item)</font>
	<br>

	<input name="embed_model" value="{{fullragchat_embed_model}}" type="text">
	<lable for="model"><strong>embeding model</strong></lable> - <font color="purple">local on ollama: nomic-embed-text; api call: mistral-embed</font>
	<br>

	<input name="loop_context" value="not yet implemented" type="text">
	<lable for="model"><strong>loop_context</strong></lable>
	<br>

	<input name="stop_words" value="{{fullragchat_stop_words}}" type="text">
	<lable for="stop_words"><strong>stop_words</strong></lable> - <font color="purple">words, to stop, processing</font>
	<br>

	<input name="skin" value="{{fullragchat_skin}}" type="text">
	<lable for="skin"><strong>skin</strong></lable>
	<br>

	<input name="music" value="{{fullragchat_music}}" type="text">
	<lable for="music"><strong>music</strong></lable>
	<br>

	<a href="/reset_history">reset</a><br>
	</body>
</html>
