<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GerryStahlWritings</title>
    <link rel="stylesheet" href="%7B%7B%20url_for%28%27static%27,%20filename=%27styles.css%27%29%20%7D%7D">
  </head>
  <body>
    <div align="center">
      <table style="width: 723px; height: 284px;" cellspacing="5" cellpadding="5"
        border="5">
        <tbody>
          <tr>
            <th colspan="2">
              <h1>Gerry Stahl's writings on {{webserver_hostname}}</h1>
              <br>
            </th>
          </tr>
          <tr>
            <td style="width: 473.933px;">
              <h1 style="text-align: center;"><a href="/fullragchat_init">GerBot</a></h1>
              <p>Conversational Retrieval Augmented GenerativeAL chatbot 
              with agent selected RAG content - 
              enables chat with and about the published works of Gerry Stahl. 
              Full library is here <a href="http://gerrystahl.net/pub/index.html">gerrystahl.net/pub</a>. 
              Functions as an interactive natural language search of the targeted texts.</p>
            </td>
            <td style="width: 201.583px;">
              <p>View some <a href="/gerbotsamples" target="_blank">sample</a> questions and answers.</p>
			  <br>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <p>Authorized users only.</p>
    </div>
  </body>
</html>
